form {
    width: 438px;
    min-height: 126px;
}

.nameForm {
    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 12px;
    padding: 16px 18px;
    width: 438px;
    height: 54px;
    margin-bottom: 18px;
}

.emailForm {
    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 12px;
    padding: 16px 18px;
    width: 438px;
    height: 54px;
    margin-bottom: 18px;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 438px;
}

.passwordForm {
    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 12px;
    padding: 16px 18px;
    width: 438px;
    height: 54px;
    margin-bottom: 40px;
}

.iconEye {
    position: absolute;
    right: 18px;
    top: 27%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    stroke: #121417;
    fill: #d3c46f;
}

.buttonForm {
    border-radius: 12px;
    padding: 16px 10px;
    width: 438px;
    height: 60px;
    background-color: #f4c550;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonForm:hover,
.buttonForm:focus {
    background-color: #fbe9ba;
}

.errors {
    color: #da2929;
    margin-bottom: 18px;
}

input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    color: #121417;
}

input:hover,
input:focus {
    outline: none;
}