.headerContainer {
    width: 100%;
    background-color: white;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    margin: 0 auto;
}

.fixed {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    background-color: transparent;
}

/* Базові стилі для навігації */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 88px;
}

.navTitle {
    width: 154px;
    height: 20px;
    text-decoration: none;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 112%;
    letter-spacing: 0.01em;
    color: #fbfbfb;
}

.navigation {
    display: none;
}

.openMenuBtn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.openMenuIcons {
    stroke: #fbfbfb;
}

/* ---- Media Queries ---- */
@media screen and (min-width: 375px) {
    .nav {
        gap: 125px;
    }
}

@media screen and (min-width: 768px) {
    .headerContainer {
        padding: 20px;
    }

    .nav {
        gap: 500px;
    }
}

@media screen and (min-width: 1440px) {
    .headerContainer {
        background-color: #F03F3B;
        width: 1440px;
        height: 88px;
        padding: 30px 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* Для головної сторінки фіксуємо хедер */
    .fixed {
        background-color: transparent;
        position: absolute;
        top: 50px;
        right: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1184px;
        height: 48px;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .nav {
        width: 1184px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0;
    }

    .navigation {
        width: 621px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }
    .active {
        font-family: "Helvetica Neue", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: -0.01em;
        color: #fbfbfb;
        position: relative;
    }

    .active::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 8px;
        height: 8px;
        background-color: #fbfbfb;
        border-radius: 50%;
    }

    .openMenuIcons {
        display: none;
    }

    .navTitle {
        width: 164px;
        height: 28px;
        font-size: 24px;
    }
}