.wrapperNannies {
    width: 1440px;
    min-height: 1488px;
    background: #F3F3F3;
    padding: 64px 128px;
    margin: 0 auto;
}

/* стилі для вибору елементів */
.selectorNannies {
    width: 226px;
    height: 74px;
    margin-bottom: 32px;
}

.filtersNannies {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    color: #8a8a89;
    margin-bottom: 8px;
}

.selectItemFilter {
    border: none;
    border-radius: 14px;
    padding: 6px 15px 6px 18px;
    width: 226px;
    height: 48px;
    background: #f03f3b;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
    color: #fbfbfb;
}

.selectItemFilter:hover,
.selectItemFilter:focus {
    outline: none;
    background-color: #fff;
    color: rgba(17, 16, 28, 0.3);
}

.selectItemFilter:active {
    outline: none;
    color: rgba(17, 16, 28, 0.3);
}

/* деталі няні */

.detailsNannies {
    display: flex;
    gap: 24px;
    border-radius: 24px;
    padding: 24px;
    max-width: 1184px;
    height: auto;
    background-color: #fbfbfb;
    margin-bottom: 32px;
}

.imgContainer {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #fbfbfb;
    border-radius: 30px;
    border: 2px solid rgba(240, 63, 59, 0.2);
}

.imgNannies {
    width: 96px;
    height: 96px;
    border-radius: 15px;
    object-fit: cover;
    overflow: hidden;
}

.detailsItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 998px;
    height: 24px;
    margin-bottom: 8px;
}

.detailsTitle {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #8a8a89;
}

.detailsLink {
    display: flex;
    gap: 16px;
    min-width: 495px;
    height: 24px;
}

.detailsText {
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #11101c;
}

.iconStar {
    width: 16px;
    height: 16px;
    fill: #FFC531;
}

.priceNumber {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #38cd3e;
}

.iconMap {
    width: 16px;
    height: 16px;
    fill: #fafafa;
    stroke: #11101c;
}

.iconHeart {
    width: 26px;
    height: 26px;
    fill: #11101c;
    stroke: #F03F3B;
}

.iconHeartActive {
    fill: #F03F3B;
    stroke: #F03F3B;
}

.line {
    color: #d1d1c7;
}

.nameNanny {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #11101c;
    margin-bottom: 24px;
}

.infoNanny {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 8px;
    margin-bottom: 24px;
}

.info {
    min-width: 88px;
    border-radius: 24px;
    height: 40px;
    padding: 8px 16px;
    background-color: #f3f3f3;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #11101C;
}

.underlined {
    text-decoration: underline;
}

.infoConditions {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #11101C;
    margin-bottom: 16px;
}

.detail {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #8a8a89;

}

/* Кнопка Read more */

.readMore {
    background-color: transparent;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-decoration: underline;
    color: #11101c;
}


.selected {
    background-color: #f4c550;
}

.aboutText {
    max-width: 992px;
    min-height: 40px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: rgba(17, 16, 28, 0.5);
    margin-bottom: 14px;
}

.reviewsList {
    width: 482px;
    min-height: 80px;
}

.reviewItem {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 25px;
}

.reviewFirst {
    display: flex;
    gap: 12px;
}

.reviewerCircle {
    border-radius: 100px;
    width: 44px;
    height: 44px;
    background: rgba(240, 63, 59, 0.2);
    padding: 12px 14px;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #f03f3b;
}

.reviewName {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #11101C;
    margin-bottom: 5px;
}

.iconStar {
    margin-right: 8px;
}

.reviewItemText {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: rgba(17, 16, 28, 0.5);
}

.openModalBtn {
    border-radius: 30px;
    padding: 14px 28px;
    width: 215px;
    height: 48px;
    background: #f03f3b;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #fbfbfb;
}

.openModalBtn:hover,
.openModalBtn:focus {
    color: #F03F3B;
    background-color: #fbfbfb;
    border: 1px solid #F03F3B;
}